.userDetail-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 900px;
	padding: 8px;
}

.userDetail-title {
	margin-bottom: 6px;
}

.userDetail-row {
	line-height: 1.5;
}

.userDetail-actionLink {
	margin-top: 10px;
	width: fit-content;
}
